{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
        <img src="{% static 'img/kaleb-tapp-J59wWPn09BE-unsplash (1).jpg' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <h1>We organise your vacation so you can Fly Cheap</h1>
            <p>Planning a trip, especially when it involves booking flights, can often be overwhelming and time-consuming. With countless websites offering various prices and options, finding the best deal while considering factors like convenience and reviews can feel like searching for a needle in a haystack.</p>
            <p>Introducing our innovative Flight Selection System – a sophisticated platform designed to facilitate streamlined flight booking with a focus on cost-efficiency and user-rated service quality. Through algorithms, the system meticulously organizes flight details, presenting users with a curated list based on both economic considerations and service rating points. Beyond the economic facet, users can make informed decisions by accessing real-time reviews and ratings, contributing to a comprehensive understanding of the travel experience. The user interface is meticulously crafted for simplicity, ensuring seamless navigation and swift access to pertinent flight information.</p>
        </p>Our Smart ticket Ticketing System is a game-changer in the quickly changing travel technology industry. It is revolutionizing the traditional ticket booking model by prioritizing affordability and customer satisfaction. This web-based platform is designed to give travellers a sophisticated and perceptive method for choosing flights. It combines state-of-the-art technology with user-centered design.</p>
    </p>The Smart Flight Ticketing System's user-friendly interface is expertly designed to provide a smooth and simple navigation experience. Passengers can quickly enter their trip information and obtain pertinent flight facts. By making the platform easily navigable and effective, this user-centric design not only streamlines the booking process but also improves overall customer happiness.</p>

</div>
    </section>
{% endblock%}